.parent {
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 1px solid black;
}

.child {
  margin: 20px;
  text-align: center;
  border: 1px solid black;
}

.highlighted {
  background: yellow;
}
